<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lançamentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let tendencia of listaTendencias; let i = index">

        <ion-card class="card-filmes" [ngStyle]="{
          background: 'url('+ urlImagens + tendencia.poster_path + ') center',
          'background-size': '385px'
        }" (click)="visualizarDetalhes(tendencia?.id, tendencia.media_type)">
          <ion-card-header class="ion-text-right">
            <ion-badge *ngIf="tendencia.media_type == 'movie'" color="primary" class="radius-badge"
            [routerLink]="['/tabs/pages/filmes/visualizar-filme', tendencia?.id]">
              <ion-icon class="icon-detalhes" name="add-outline"></ion-icon>
            </ion-badge>

            <ion-badge *ngIf="tendencia.media_type == 'tv'" color="primary" class="radius-badge"
            [routerLink]="['/tabs/pages/seriados/visualizar-seriado', tendencia?.id]">
              <ion-icon class="icon-detalhes" name="add-outline"></ion-icon>
            </ion-badge>
          </ion-card-header>
        </ion-card>
       
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>