.card-filmes {
    min-height: 210px;
    max-height: 210px;
}

.bg-content {
    background: #000000b0 !important;
    padding-top: 10px;
}

.icon-detalhes {
    font-size: 20px;
}

.radius-badge {
    border-radius: 100px;
}
