<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Seriados Assistidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let seriado of assistidos">
    <ion-item-sliding>
      <ion-item [routerLink]="['/tabs/pages/seriados/visualizar-seriado', seriado?.seriadoId]">
        <ion-avatar slot="start">
          <img [src]="urlImagens + seriado?.poster">
        </ion-avatar>
        <ion-label>
          <h2>{{seriado.titulo}}</h2>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>